:root {
  --main-color: #2196f3;
  --first-titel-color: #212121;
  --hero-titel-color: #ffffff;
  --first-text-color: #757575;
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --black-color: #000000;
  --background-color-btn: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}

address{
  font-style: normal;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.current {
  color: var(--main-color);
}

.hide {
  font-size: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header {
}

.header-wrap{
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo {
  color: var(--main-color);
  
}
.header-nav {
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-list-contacts{
  display: flex;
  gap: 50px;
  margin-left: auto;
}



.header-iteam {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--first-titel-color);
}



.header-link:hover,
.header-link:focus {
  color: var(--main-color);
}

.contacts > a {
  color: var(--first-text-color);
}

.hero {
  background-color: var(--footer-background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}


.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  color: var(--hero-titel-color);
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--hero-titel-color);

  cursor: pointer;
  text-align: center;

  border: none;
  border-radius: 4px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-color-btn);
}

.advantage {
  padding: 94px 0;
}

.advantage-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantage-iteam {
  width: 100%;
}
.advantage-iteam-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-titel-color);

  margin-bottom: 10px;
}
.advantage-iteam-text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.services {
  padding-bottom: 94px;
}
.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.services-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.services-iteam {
  flex-basis: calc((100% - 60px) / 3);
}
.services-img {
  display: block;
  max-width: 100%;
}

.team {
  background-color: var(--team-background-color);
  padding: 94px 0;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team-iteam {
  border-radius: 0px 0px 4px 4px;
  background: var(--hero-titel-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  flex-basis: calc((100% - 90px) / 4);
}

.team-img{
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-titel-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}

footer  .logo-link{
  
}
.footer-logo{
  color: var(--hero-titel-color);
  padding-top: 0;
  padding-bottom: 0;
}


.footer-list {
}

.footer-iteam:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  margin-top: 20px;
  color: var(--hero-titel-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--main-color);
}
/* Portfolio */

.portfolio {
}

.portfolio-list {
}

.portfolio-iteam-button {
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--first-titel-color);
  background-color: var(--team-background-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;

  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--hero-titel-color);
  background: var(--main-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-iteam {
}

.portfolio-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-titel-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
