.logo-link {
    font-family: var(--font-raleway);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--black-color);
    display: block;
    
}

.logo {
    color: var(--main-color);
}