:root {
    --main-color: #2196f3;
    --first-titel-color: #212121;
    --hero-titel-color: #ffffff;
    --first-text-color: #757575;
    --footer-background-color: #2f303a;
    --team-background-color: #f5f4fa;
    --black-color: #000000;
    --background-color-btn: #188ce8;
    --border-color: #ECECEC; 
    --icon-color: #AFB1B8;
    --font-roboto: "Roboto", sans-serif;
    --font-raleway: "Raleway";
}