.advantage {
  padding: 60px 0;
  @media screen and (min-width:1200px){
    padding: 94px 0;
  }
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantage-iteam {
  &::before {
    content: "";
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--team-background-color);
    display: flex;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    @media screen and (min-width:768px){
      width: 354px;
    }
    @media screen and (min-width:1200px){
      width: 270px;
    }
  }
  &:first-child::before {
    background-image: url(../images/antenna.svg);
  }
  
  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }
  
  &:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }
  
  &:last-child::before {
    background-image: url(../images/astronaut.svg);
  }
  @media screen and (min-width:768px){
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width:1200px){
    flex-basis: calc((100% - 90px) / 4);
  }
}



.advantage-iteam-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--first-titel-color);
  margin-bottom: 10px;
  @media screen and (min-width:768px){
    text-align: left;
  }
}
.advantage-iteam-text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
